<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Annotation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <style>ul {list-style: none;}</style>
</head>
<body>

<div class="container-fluid">
    <h1 class="text-center">AI Incidents Annotation Tool</h1>
    <div class="row">
        <div class="col-sm-4" style="background-color:lavender;">
            <div class="container">
                <h2 class="text-center">Stakeholders & Issues</h2>
<!--                <p><strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.</p>-->
                <div id="accordion">
                    {% if messages %}
                            {% for i in range(messages["Stake_len"]) %}
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#AccId{{i}}">
                                            {{messages["Stakeholders"][i][1]}}
                                        </a>
                                    </div>
                                    <div id="AccId{{i}}" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            {% for k in messages["StakeholderIssues"][messages["Stakeholders"][i][0]]%}
                                            <a href="#" class="btn btn-info" role="button" data-toggle="popover" data-trigger="focus" title="Description" data-content="{{messages['IssueDescription'][k]}}">{{k}}</a></br></br>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        {% block content %}{% endblock %}
</div>
</div>

<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
});


function addST(eid) {
document.getElementById("Impact"+eid).classList.remove('d-none');
document.getElementById("removeST"+eid).classList.remove('d-none');
document.getElementById("buttonST"+eid).classList.add('d-none');
document.getElementById("SI"+eid).checked = true;
}

function removeST(eid) {
document.getElementById("Impact"+eid).classList.add('d-none');
document.getElementById("removeST"+eid).classList.add('d-none');
document.getElementById("buttonST"+eid).classList.remove('d-none');
document.getElementById("SI"+eid).checked = false;
}


function MyF(){
let stakelist = document.getElementById('Search_StakeholderList');
let impactlist = document.getElementById('Search_ImpactList');
let impact_no = "";
stake = stakelist.value;
        fetch('/impact/' + stake).then(function(response){
            response.json().then(function(data){
                let newHTML=''
                for(let impact of data){
                newHTML += '<li><input id="' +impact.id+ '" name="SearchImpactList'+impact_no+'" type="checkbox" value="'+impact.id+'"> <label for="'+impact.id+'">'+impact.name+'</label></li></ul>';
            }
            impactlist.innerHTML = newHTML;
            });

        });
}

let stakelist = document.getElementById('StakeholderList');
let impactlist = document.getElementById('ImpactList');

stakelist.onchange=function(){
        changeImpacts(stakelist,impactlist,"");
    }


let stakelist2 = document.getElementById('StakeholderList2');
let impactlist2 = document.getElementById('ImpactList2');

stakelist2.onchange=function(){
        changeImpacts(stakelist2,impactlist2,"2");
    }


function changeImpacts(stakelist,impactlist,impact_no){
stake = stakelist.value;
        fetch('/impact/' + stake).then(function(response){
            response.json().then(function(data){
                let newHTML=''
                for(let impact of data){
                newHTML += '<li><input id="' +impact.id+ '" name="ImpactList'+impact_no+'" type="checkbox" value="'+impact.id+'"> <label for="'+impact.id+'">'+impact.name+'</label></li></ul>';
            }
            impactlist.innerHTML = newHTML;
            });

        });
}




</script>


</body>
</html>